{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Five Two One</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<!---Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Five Two One</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'five_two_one' %}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'five_two_one' %}">Fast Food</a>
        <a class="nav-item nav-link" href="{% url 'location_chooser' %}">Near me</a>
        <a class="nav-item nav-link" href="#">About us</a>
      </div>
    </div>
  </nav>

<body onload="choose()">
    <div class="top">
        <h2 style="color: darkorange ;text-align: center; padding-top: 50px;">Indecisive About where to eat tonight?</h2>
        <h4 style="text-align: center;"> Here is a quick way to find out where to eat today</h4>
    </div>

    <div style="padding: 1%;"></div>
    
    <div class="col text-center">
        <div class="btn-group-vertical" style="width: 350px;">
            <button id="but1" type="button" class="btn btn-outline-primary"></button>
            <button id="but2" type="button" class="btn btn-outline-secondary"></button>
            <button id="but3" type="button" class="btn btn-outline-success"></button>
            <button id="but4" type="button" class="btn btn-outline-danger"></button>
            <button id="but5" type="button" class="btn btn-outline-warning"></button>
          </div>
      </div>

      <div class="col text-center" style='padding: 2%'>
        <button id="submit" type="button" class="btn btn-info">Submit</button>
        <button id="start_over" type="button" class="btn btn-light">Start Over</button>
      </div>

      <div class=container>
        <h4 id="choice_prompt" style="text-align: center;">Choose 2 of the 5 Options</h4>
        
      </div>

      <h4 id="final_choice" style="text-align: center; padding: 2%;"></h4>

      <script type="text/javascript" src="{% static 'js/choose.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/button_handler.js' %}"></script>
    
</body>

<div style="padding: 10%;"></div>
<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; Arya Mevada</p>
</footer>
</html>

