<!DOCTYPE html>
<html lang="en">

<head>
    <title>Five Two One</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename ='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename ='favicon.ico') }}" type="image/x-icon">
</head>

<!---Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Five Two One</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Fast Food</a>
            <a class="nav-item nav-link" href="#">Near me</a>
            <a class="nav-item nav-link" href="#">About us</a>
        </div>
    </div>
</nav>

<div class="page-header">
    <h1>Yikes Something went Wrong!</h1>
    <div class="col text-center">
        <div class="btn-group-vertical" style="width: 350px;">
            <button id="home_page" type="button" class="btn btn-outline-primary" href="#">Go back to the home page</button>
        </div>
    </div>
</div>

<div style="padding: 10%;"></div>
<footer class="py-3 bg-dark">
    <p class="m-0 text-light text-center ">Copyright &copy; Arya Mevada and Mohini Misra</p>
</footer>

</html>